.container-recipes {
  text-align: center;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.indexRecipes {
  background-color: lightblue;
  text-align: left;
  list-style-type: none;
}

.categories {
  background-color: lightgoldenrodyellow;
  text-align: left;
  list-style-type: none;
  padding-top: 24px;
  padding-bottom: 28px;
}
.appHeader {
  z-index: 2;
  width: auto;
  background-color: lightgoldenrodyellow;
  transform: translate(0px, 300px);
}
.recipeHeader {
  text-align: center;
  margin-top: 60px;
}

.ingredients {
  margin-top: 10px;
  background-color: lightblue;
}

.instructions {
  background-color: lightgoldenrodyellow;
}

.foodImage {
  width: 100%;
  margin: auto;
  height: 50%;
  width: 50%;
}
.logoName {
  font-weight: bold;
  font-size: 50px;
}

@media (max-width: 500px) {
  body {
    margin-top: 250px;
  }

  .appImage {
    height: 60%;
    width: auto;
    margin-bottom: -200px;
  }
  .appHeader {
    transform: translate(-90px, 100px);
  }
  .logoName {
    font-size: 30px;
  }
  .categories {
    margin-top: 15px;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
