html {
  height: 100%;
  margin: 0;
}
body {
  position: relative;
  height: 100%;
  margin: 0;
}

.container-recipes {
  text-align: center;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.specialCol {
  text-align: center;
}

.specialCol ul {
  margin: 20px;
}

.indexRecipes {
  background-color: lightblue;
  text-align: left;
  list-style-type: none;
}

.categories {
  background-color: lightgoldenrodyellow;
  text-align: left;
  list-style-type: none;
  padding-top: 24px;
  padding-bottom: 28px;
}

.recipeHeader {
  text-align: center;
  margin-top: 60px;
}

.ingredients {
  margin-top: 10px;
  background-color: lightblue;
}

.instructions {
  background-color: lightgoldenrodyellow;
}

.foodImage {
  width: 100%;
  margin: auto;
  height: 50%;
  width: 50%;
}

.logoPicture {
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 372px;
  color: rgba(255, 255, 255);
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71mG-Oxz7BL._SX679_PIbundle-10,TopRight,0,0_SX679SY493SH20_.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-position: center;
}

.logoName {
  transform: translate(0, 150px);
  margin-bottom: -3.5rem;
}

.spacing {
  margin-top: 80px;
}

@media (max-width: 500px) {
  body {
    margin-top: 250px;
  }

  .appImage {
    height: 60%;
    width: auto;
    margin-bottom: -200px;
  }
  .appHeader {
    transform: translate(-90px, 100px);
  }
  .logoName {
    font-size: 30px;
  }
  .categories {
    margin-top: 15px;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
